.sidenav {
    height: 100%;
    background-color: forestgreen;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sidenav-icons {
    margin: 0.5rem;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.sidenav-icons-selectpage {
    /* This is a third level Flex Child. 
        I wonder if I need to specify this @ each level.
        Maybe only on the .sidenav is enough? */
    display: flex;
    flex-direction: column;
}

.sidenav-user {
    margin: 0.5rem;
    border-top: 1px white;
}
